.main-body{
    background-image: url("resources/ecommerce-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
}

.main-content{
    background-image: url("resources/ecommerce-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.content-1{
    background: rgba(0, 0, 0, 0.651);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.content-2{
    backdrop-filter: blur(5px);
    background: rgba(108, 105, 105, 0.714);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.title-1{
    font-size: 25px;
    font-family: "aligarhdemo";
    color: white;
    letter-spacing: 1px;
    /* text-shadow: -1px 0 black, 2px 0 black, 0 -1px black; */
}

.title-2{
    font-family: "Monts";
    color: white;
}

.text{
    color: white;
    font-size: 20px;
    text-align: justify;
}

.social-icon a{
    font-size: 22px;
    color: white;
    margin-right: 20px;
}

h1{
    font-family: "Gabarito";
}

label{
    color: rgb(226, 226, 226);
    font-weight: bold;
}

.button{
    border: none;
    border-radius: 5px;
    height: 5vh;
    background-color: black;
    opacity: 60%;
    color: white;

}

.button:hover{
    background-color: black;
    opacity: 95%;
}

/* input:hover{
    background-color: black;
    border: none;
}

select:hover{
    background-color: black;
    border: none;
} */

@font-face {
    font-family: "aligarhdemo";
    src: url("resources/fonts/AligarhDEMO-Light.otf");
}

@font-face {
    font-family: "Monts";
    src: url("resources/fonts/MONTSERRAT\ SEMIBOLD.TTF");
}

@font-face {
    font-family: "Gabarito";
    src: url("resources/fonts/Gabarito-VariableFont_wght.ttf");
}

@media(max-width:1300px){

    .text{
        text-align: left;
    }

    .social-icon{
        padding-bottom: 100px;
    }

    .text{
        font-size: 18px;
    }

    .title-1{
        font-size: 25px;
    }

    .title-2{
        padding-top: 60px;
    }

    .content-2{
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
    }

}

@media(min-width:1400px){
    .title-3{
        padding-top: 100px;
    }    
}


input[type="text"] {
    opacity: 40%;
    transition: background-color 0.3s;
  }

  /* Clicked state */
  input[type="text"]:focus {
    opacity: 70%;
  }

  input[type="email"] {
    opacity: 40%;
    transition: background-color 0.3s;
  }

  input[type="email"]:focus {
    opacity: 70%;
  }

  input[type="password"] {
    opacity: 40%;
    transition: background-color 0.3s;
  }
  
  input[type="password"]:focus {
    opacity: 70%;
  }

  select{
    opacity: 40%;
    transition: background-color 0.3s;
  }

  select:focus {
    opacity: 70%;
  }

  /* .body{
    background-color: #ffffff ;
  } */

  .dis{
    cursor: not-allowed;
  }

  .p{
    letter-spacing: 1px;
  }

  .pm{
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pm1{
    background-image: url("resources/payment method images/visa_img.png");
}

.pm2{
    background-image: url("resources/payment method images/mastercard_img.png");
}

.pm3{
    background-image: url("resources/payment method images/american_express_img.png");
}

.pm4{
    background-image: url("resources/payment method images/paypal_img.png");
}

.mainImg{
    height: 640px;
    background-image: url("resources/camera.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}